/* Importing Google Font 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Resetting default styles and setting up global styles */
* {
	padding: 0;
	/* Removing default padding */
	margin: 0;
	/* Removing default margin */
	box-sizing: border-box;
	/* Ensuring all elements include padding and border in their total width and height */
	font-family: 'Poppins', sans-serif;
	/* Setting default font to 'Poppins' with fallback to sans-serif */
}

/* Defining custom CSS variables */
:root {
	/* --bg-color: radial-gradient(circle at 60% 50%, rgba(238,174,202,1) 0%, rgb(127, 172, 224) 100%); */
	--bg-color: radial-gradient(circle at 70% 50%, rgba(238, 174, 202, 1) 0%, rgb(145, 167, 192) 100%);
	--text-color: #363636;
	--main-color: brown;
	/* --main-color: hsl(250, 52%, 36%); */
}

/* Styling for the entire HTML document */
html {
	scroll-behavior: smooth;
	/* Smooth scrolling behavior for the entire document */
}

/* Styling for the body */
body {
	min-height: 100vh;
	/* Ensuring the body takes up at least the full height of the viewport */
	background: var(--bg-color);
	/* Setting background color to the defined gradient */
	color: var(--text-color);
	/* Setting text color */
}

.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
}

header {
	position: fixed;
	width: 100%;
	/* height: 115px;
	max-height: 115px; */
	display: flex;
	flex-direction: column;
	z-index: 117;
	transition: all .50s ease;
}

header.scrolled {
	backdrop-filter: blur(4px);
}

header .header-main {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	column-gap: 20px;
	padding: 10px 20px;
	border-bottom: 2px solid #ccc;
	background-color: rgba(155, 118, 200, 0.2);
	backdrop-filter: blur(4px);
}

header .header-main .logo {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 5px;
	text-decoration: none;
}

header .header-main .logo .main-icon {
	width: 0.7rem;
	height: 1.7rem;
	background-color: var(--main-color);
	border-radius: 50px;
}

header .header-main .logo span {
	color: var(--text-color);
	font-size: 1.7rem;
	font-weight: 600;
}

header .header-main .header-main-texts {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.1rem;
	font-weight: 600;
	color: var(--text-color);
	text-decoration: none;
	cursor: pointer;
	transition: 0.25s;
}

header .header-main .header-main-texts.active {
	color: var(--main-color);
}

header .header-main .header-main-texts:hover {
	color: var(--main-color);
}

header .header-navbar {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	margin: 0px auto;
}

header .header-navbar .header-navbar-info {
	display: none;
}

header .header-navbar .navbar {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 40px;
}

header .header-navbar .navbar a {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--text-color);
	font-size: 1.1rem;
	font-weight: 500;
	transition: all .50s ease;
	text-decoration: none;

	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	padding: 5px 20px;
}

header .header-navbar .navbar a:hover {
	color: var(--main-color);
	transform: scale(1.1);
}

header .header-navbar .navbar a.active {
	color: var(--main-color);
}

.header .main {
	display: none;
}

.header .main .menu-icon-container {
	min-height: 20px;
	min-width: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	cursor: pointer;
	z-index: 113;
}

.header .main .menu-icon-container .menu-icon {
	font-size: 1.6rem;
	color: var(--text-color);
	line-height: initial;
	cursor: pointer;
	z-index: 114;
}

main {
	/* height: 400px; */
	margin-bottom: auto;
	padding: 0px 20px;
	margin-top: 115px;
	padding-top: 50px;
}

main .donate-popup-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	display: none;
	justify-content: center;
	align-items: center;
	top: 0px;
	left: 0px;
	padding: 20px;
	z-index: 1000;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

main .donate-popup-wrapper .donate-popup {
	max-width: 300px;
	position: relative;
	background-color: darkgray;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	padding: 20px;
	text-align: center;
}

main .donate-popup-wrapper .donate-popup h2 {
	margin-top: 0;
}

main .donate-popup-wrapper .donate-popup p {
	margin-top: 10px;
}

main .donate-popup-wrapper .donate-popup .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	color: #555;
	transition: 0.25s;
}

main .donate-popup-wrapper .donate-popup .close-btn:hover {
	color: #333;
}


.image-slider-container {
	position: relative;
	width: 100%;
	border-radius: 20px;
	overflow: hidden;
}

.image-slider-container .slider {
	display: flex;
	overflow: hidden;
}

.image-slider-container .slide {
	width: 100%;
	height: 500px;
	flex: 0 0 auto;
	transition: transform 0.5s ease;
	position: relative;
}

.image-slider-container .slide .image-slide-content {
	max-width: 500px;
	height: fit-content;
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	width: fit-content;
	border-radius: 10px;
	padding: 10px;
	margin: auto 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);

	transition: transform 0.5s ease;
	transform: translateY(200%);
	transition-delay: 0.2s;
}

.image-slider-container .slide.active .image-slide-content {
	transform: translateY(0px);
}

.image-slider-container .slide .image-slide-content .slide-content {
	font-size: 1.1rem;
	text-align: justify;
}

.image-slider-container .slide .image-slide-content .slide-button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 10px;
	margin-left: auto;
	cursor: pointer;
	transition: 0.25s;
}

.image-slider-container .slide .image-slide-content .slide-button:hover {
	background-color: #4e54c8;
}

.image-slider-container img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.image-slider-container .prev,
.image-slider-container .next {
	max-width: 50px;
	position: absolute;
	/* top: 50%;
	transform: translateY(-50%); */
	height: fit-content;
	top: 0px;
	bottom: 0px;
	margin: auto 0px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	border: none;
	cursor: pointer;
	padding: 10px;
	z-index: 1;
	transition: 0.25s;
}

.image-slider-container .prev {
	border-radius: 0px 10px 10px 0px;
}

.image-slider-container .next {
	border-radius: 10px 0px 0px 10px;
}

.image-slider-container .prev:hover,
.image-slider-container .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	/* transform: scale(1.1); */
}

.image-slider-container .prev {
	left: 0;
}

.image-slider-container .next {
	right: 0;
}

.image-slider-container .dots-container {
	width: fit-content;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	margin: 0px auto;
	text-align: center;
	padding: 10px 20px;
	/* background-color: gray; */
	/* margin-top: 20px; */
}

.image-slider-container .dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	background-color: #bbb;
	border-radius: 50%;
	margin: 0 5px;
	cursor: pointer;
	transition: 0.25s;
}

.image-slider-container .dot:hover {
	background-color: var(--main-color);
}

.image-slider-container .active {
	background-color: #717171;
}

@media (max-width: 800px) {
	.image-slider-container .slide .image-slide-content {
		top: 0px;
		bottom: 0px;
		left: 50px;
		right: 50px;
		margin: auto auto;
	}
}


.footer {
	margin-top: 50px;
	width: 100%;
	column-gap: 10px;
	border-top: 2px solid #ccc;
	background-color: var(--main-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.footer .footer-info-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.footer .footer-info {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.footer .footer-info .footer-info-main {
	text-align: center;
}

.footer .footer-info .footer-info-form {
	width: 100%;
	display: flex;
	justify-content: center;
}

.footer .footer-info .footer-info-form .footer-subscribe-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	column-gap: 20px;
	row-gap: 20px;
}

.footer .footer-info .footer-info-form .footer-subscribe-form input {
	width: 100%;
	min-width: 100px;
	/* flex-grow: 1; */
	background-color: transparent;
	padding: 10px;
	border: 2px solid gray;
	border-radius: 10px;
	outline: none;
}

.footer .footer-info .footer-info-form .footer-subscribe-form button {
	min-width: 100px;
	/* width: 100%; */
	color: white;
	font-size: 1rem;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: var(--main-color);
	cursor: pointer;
	transition: 0.25s;
}

.footer .footer-info .footer-info-form .footer-subscribe-form button:hover {
	background-color: #4e54c8;
}

.footer .footer-main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	column-gap: 10px;
	padding: 10px 20px;
	border-top: 2px solid #ccc;
	/* background-color: var(--main-color);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px); */
}

.footer .left {
	font-size: 0.95rem;
	font-weight: 500;
	text-align: center;
}

.footer .right {
	display: flex;
	flex-direction: row;
	column-gap: 20px;
}

.footer .right .social {
	width: 30px;
	height: 30px;
	border: 2px solid var(--text-color);
	border-radius: 10px;
	font-size: 1.2rem;
	transition: 0.3s;
}

.footer .right .social a {
	color: var(--text-color);
	transition: 0.3s;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	text-decoration: none;
}

.footer .right .social:hover {
	color: var(--main-color);
	border: 2px solid var(--main-color);
}

.footer .right .social:hover a {
	color: var(--main-color);
}

@media (max-width: 550px) {
	.footer .footer-info .footer-info-form .footer-subscribe-form {
		flex-direction: column;
	}

	.footer .footer-info .footer-info-form .footer-subscribe-form button {
		width: 100%;
	}
}

@media (max-width: 700px) {
	.footer {
		flex-direction: column;
		row-gap: 10px;
	}
}

.nav-touch-close {
	position: fixed;
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	cursor: pointer;
	z-index: 100;
}

.nav-touch-close-open {
	display: block;
}

.nav-LR-TC {
	background: transparent;
	backdrop-filter: none;
}

@media (max-width: 1200px) {
	header {
		transition: .2s;
	}
}

@media (max-width: 850px) {}

@media (max-width: 700px) {

	header .header-main {
		justify-content: space-between;
		border-bottom: none;
	}

	.header .main {
		display: block;
	}

	header .header-navbar {
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding: 10px 20px;
		border-radius: 0px;
		border-bottom: 2px solid #ccc;
		backdrop-filter: blur(4px);
	}

	header .header-navbar .header-navbar-info {
		display: block;
	}

	header .header-navbar .navbar {
		position: absolute;
		top: calc(100% + 10px);
		right: -100%;
		width: auto;
		height: auto;
		border: 2px solid #ccc;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(4px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		border-radius: 10px;
		transition: all .50s ease;
	}

	header .header-navbar .navbar a {
		display: block;
		margin: 12px 0;
		padding: 0px 25px;
		transition: all .50s ease;
		border: none;
		border-radius: 0px;
		box-shadow: none;
		background: none;
		backdrop-filter: none;
	}

	header .header-navbar .navbar a:hover {
		color: var(--text-color);
		transform: translateY(5px);
	}

	header .header-navbar .navbar.open {
		right: 10px;
	}

}

.homeless .main {
	display: flex;
	max-width: 1300px;
	flex-direction: row;
	justify-content: center;
	margin: 0 auto;
	column-gap: 50px;
}

.homeless .main .left {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
	/* background-color: gray; */
}

.homeless .main .left .left-item {
	padding: 10px;
	color: var(--text-color);
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
	transition: 0.25s;
	text-decoration: none;
}

.homeless .main .left .left-item:hover {
	border: 2px solid var(--main-color);
	background: rgba(255, 255, 255, 0.5);
}

.homeless .main .right {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	/* margin-left: auto; */
}

.homeless .main .right .right-item {
	width: 200px;
	/* height: fit-content; */
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.homeless .main .right .right-item img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.homeless .main .right .right-item .texts {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.homeless .main .right .right-item .title {
	text-align: center;
	font-size: 1.1rem;
	/* background-color: lightblue; */
	font-weight: 600;
}

.homeless .main .right .right-item .description {
	font-size: 0.9rem;
	font-weight: 500;
	/* background-color: lightcoral; */
}

.homeless .main .right .right-item a {
	width: 100%;
	background-color: var(--main-color);
	font-size: 1rem;
	text-align: center;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: auto;
	cursor: pointer;
	transition: 0.25s;
	text-decoration: none;
}

.homeless .main .right .right-item a:hover {
	background-color: #4e54c8;
}

.homeless .content {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin: 70px auto 0px auto;
	/* background-color: gray; */
}

.homeless .content .title {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	/* background-color: gray; */
}

.homeless .content .content-title {
	max-width: 1000px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
}

.homeless .content .title .title-text {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0 20px;
}

.homeless .content .line {
	width: 100%;
	height: 4px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.homeless .content .description.texts {
	font-size: 1rem;
	text-align: justify;
	/* font-weight: 500; */
	/* background-color: lightblue; */
}

.homeless .content .content-image {
	width: 100%;
	position: relative;
}

.homeless .content .content-image .content-image-texts {
	width: fit-content;
	height: fit-content;
	max-width: 500px;
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/* left: 0px; */
	padding: 20px;
	border-radius: 10px;
	margin: auto 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.homeless .content .content-image .content-image-texts .content-image-title {
	font-size: 2rem;
	font-weight: 600;
}

.homeless .content .content-image .content-image-texts .content-image-description {
	font-size: 1rem;
}

.homeless .content .content-image img {
	width: 100%;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.homeless .content .content-image .content-image-button {
	width: fit-content;
	margin-left: auto;
}

.homeless .content .content-image .content-image-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.homeless .content .content-image .content-image-button button:hover {
	background-color: #4e54c8;
}

.homeless .content .description {
	max-width: 1000px;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	margin: 0px auto;
	/* background-color: red; */
}

.homeless .content .description .description-item {
	/* background-color: red; */
	/* min-height: 400px; */
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* align-items: center; */
	column-gap: 20px;
}

.homeless .content .description .description-item.image-right {
	flex-direction: row-reverse;
}

.homeless .content .description .description-item .image {
	/* height: 400px; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: gray; */
}

.homeless .content .description .description-item .image img {
	display: block;
	width: 400px;
	height: 400px;
	/* height: 100%; */
	border: 2px solid var(--main-color);
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
}

.homeless .content .description .description-item .description-line {
	min-width: 2.5px;
	align-self: stretch;
	border-radius: 20px;
	background-color: var(--main-color);
}

.homeless .content .description .description-item .description-content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.homeless .content .description .description-item .description-content .description-content-title {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--main-color);
}

.homeless .content .description .description-item .description-content .description-content-texts {
	font-size: 1rem;
	font-weight: 500;
	text-align: justify;
}

.homeless .content .description .description-item .description-content .description-content-texts .listTitle {
	margin: 10px 0px;
}

.homeless .content .description .description-item .description-content .description-content-texts ul {
	list-style-type: disc;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

.homeless .content .description .description-item .description-content .description-content-button {
	/* margin-top: auto; */
	margin-top: 10px;
}

.homeless .content .description .description-item .description-content .description-content-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.homeless .content .description .description-item .description-content .description-content-button button:hover {
	background-color: #4e54c8;
}

.homeless .content.realLifeStories .description {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	/* margin-left: auto; */
}

.homeless .content.realLifeStories .description .right-item {
	width: 200px;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.homeless .content.realLifeStories .description .right-item img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.homeless .content.realLifeStories .description .right-item .texts {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.homeless .content.realLifeStories .description .right-item .title {
	text-align: center;
	font-size: 1.1rem;
	/* background-color: lightblue; */
	font-weight: 600;
	color: var(--main-color);
}

.homeless .content.realLifeStories .description .right-item .description {
	font-size: 0.9rem;
	font-weight: 500;
}

.homeless .content.realLifeStories .description .right-item .date {
	margin-top: auto;
	font-size: 0.8rem;
}

/* main.about {
	padding-top: 20px;
} */

@media (max-width: 700px) {
	.homeless .main {
		flex-direction: column;
		row-gap: 50px;
	}

	.homeless .main .left .left-item {
		text-align: center;
	}
}

@media (max-width: 500px) {
	.homeless .main .right .right-item {
		width: 100%;
	}

	.homeless .content.realLifeStories .description .right-item {
		width: 100%;
	}
}

@media (max-width: 800px) {
	.homeless .content .description .description-item {
		flex-direction: column;
		row-gap: 10px;
		column-gap: 10px;
		padding: 20px;

		border: 2px solid #ccc;
		border-radius: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(4px);
	}

	.homeless .content .description .description-item.image-right {
		flex-direction: column;

	}

	.homeless .content .description .description-item .image img {
		width: 100%;

		display: block;
		height: 400px;
		/* height: 100%; */
		border: 2px solid var(--main-color);
		border-radius: 20px;
		object-fit: cover;
		object-position: center;
	}

	/* .homeless .content .description .description-item .description-content .description-content-button {
		width: fit-content;
		margin: 0px auto;
	} */
}

.about .about-image {
	width: 100%;
	position: relative;
}

.about .about-image .about-image-texts {
	width: fit-content;
	height: fit-content;
	max-width: 500px;
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/* left: 0px; */
	padding: 20px;
	border-radius: 10px;
	margin: auto 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.about .about-image .about-image-texts .about-image-title {
	font-size: 2rem;
	font-weight: 600;
}

.about .about-image .about-image-texts .about-image-description {
	font-size: 1rem;
}

.about .about-image img {
	width: 100%;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.about .about-image .about-image-button {
	width: fit-content;
	margin-left: auto;
}

.about .about-image .about-image-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.about .about-image .about-image-button button:hover {
	background-color: #4e54c8;
}

.about .description {
	max-width: 1000px;
	display: flex;
	flex-direction: row;
	column-gap: 50px;
	margin: 70px auto 0px auto;
	/* background-color: red; */
}

.about .description .description-item {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.about .description .description-item .title {
	width: fit-content;
	margin: 0px auto;
	/* background-color: gray; */
}

.about .description .description-item .title .title-text {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0px 20px;
}

.about .description .description-item .title .line {
	height: 2px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.about .description .description-item .description-content {
	font-weight: 500;
	text-align: justify;
}

.about .our-team {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin: 70px auto 0px auto;
}

.about .our-team .title {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	/* background-color: gray; */
}

.about .our-team .title .title-text {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0 20px;
}

.about .our-team .line {
	width: 100%;
	height: 4px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.about .our-team .teams {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 50px;

}

.about .our-team .teams .team-member {
	width: 200px;
	background-color: gray;
	box-sizing: content-box;
	padding: 10px;

	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.about .our-team .teams .team-member img {
	width: 100%;
	height: 200px;
	display: block;
	object-fit: cover;
	object-position: center;
	border-radius: 10px;
}

.about .our-team .teams .team-member .texts {
	margin-top: 10px;
}

.about .our-team .teams .team-member .texts .name {
	font-size: 1.3rem;
	font-weight: 500;
	text-align: center;
	color: var(--main-color);
}

.about .our-team .teams .team-member .texts .position {
	font-weight: 500;
	text-align: center;
	/* margin-top: 5px; */
}

.about .our-team .teams .team-member .links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	column-gap: 10px;
	row-gap: 10px;
	margin-top: 20px;
}

.about .our-team .teams .team-member .links .social {
	width: 28px;
	height: 28px;
	border: 2px solid var(--text-color);
	border-radius: 8px;
	font-size: 1.1rem;
	/* padding: 5px; */
	transition: 0.3s;
}

.about .our-team .teams .team-member .links .social a {
	color: var(--text-color);
	transition: 0.3s;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	text-decoration: none;
}

.about .our-team .teams .team-member .links .social:hover {
	color: var(--main-color);
	border: 2px solid var(--main-color);
}

.about .our-team .teams .team-member .links .social:hover a {
	color: var(--main-color);
}

@media (max-width: 800px) {
	.about .description {
		flex-direction: column;
		row-gap: 50px;
	}
}

/* main.whatwedo {
	padding-top: 20px;
} */

.whatwedo .whatwedo-image {
	width: 100%;
	position: relative;
}

.whatwedo .whatwedo-image .whatwedo-image-texts {
	width: fit-content;
	height: fit-content;
	max-width: 500px;
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/* left: 0px; */
	padding: 20px;
	border-radius: 10px;
	margin: auto 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.whatwedo .whatwedo-image .whatwedo-image-texts .whatwedo-image-title {
	font-size: 2rem;
	font-weight: 600;
}

.whatwedo .whatwedo-image .whatwedo-image-texts .whatwedo-image-description {
	font-size: 1rem;
}

.whatwedo .whatwedo-image img {
	width: 100%;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.whatwedo .whatwedo-image .whatwedo-image-button {
	width: fit-content;
	margin-left: auto;
}

.whatwedo .whatwedo-image .whatwedo-image-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.whatwedo .whatwedo-image .whatwedo-image-button button:hover {
	background-color: #4e54c8;
}

.whatwedo .description.whoweare {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	margin: 70px auto 0px auto;
	row-gap: 20px;
	padding: 20px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.whatwedo .description .title {
	width: fit-content;
	margin: 0px auto;
	/* background-color: gray; */
}

.whatwedo .description .title .title-text {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0px 20px;
}

.whatwedo .description .title .line {
	height: 2px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.whatwedo .description .description-content {
	font-weight: 500;
	text-align: justify;
}

.whatwedo .content {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 25px;
	margin: 70px auto 0px auto;
	/* background-color: gray; */
}

.whatwedo .content .title {
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px auto;
	/* background-color: gray; */
}

.whatwedo .content .content-title {
	max-width: 1000px;
	font-size: 1.1rem;
	font-weight: 500;
	text-align: center;
	margin: 0 auto;
}

.whatwedo .content .title .title-text {
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0 20px;
}

.whatwedo .content .line {
	width: 100%;
	height: 2px;
	border-radius: 20px;
	background-color: var(--main-color);
}

.whatwedo .content .description.texts {
	font-size: 1rem;
	text-align: justify;
	/* font-weight: 500; */
	/* background-color: lightblue; */
}

.whatwedo .content .description {
	max-width: 1000px;
	display: flex;
	row-gap: 20px;
	flex-direction: column;
	margin: 0px auto;
}

.whatwedo .content .description .description-item {
	/* background-color: red; */
	/* min-height: 400px; */
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* align-items: center; */
	column-gap: 20px;
}

.whatwedo .content .description .description-item.image-right {
	flex-direction: row-reverse;
}

.whatwedo .content .description .description-item .image {
	/* height: 400px; */
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: gray; */
}

.whatwedo .content .description .description-item .image img {
	display: block;
	width: 200px;
	height: 200px;
	/* height: 100%; */
	border: 2px solid var(--main-color);
	border-radius: 20px;
	object-fit: cover;
	object-position: center;
}

.whatwedo .content .description .description-item .description-line {
	min-width: 2.5px;
	align-self: stretch;
	border-radius: 20px;
	background-color: var(--main-color);
}

.whatwedo .content .description .description-item .description-content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.whatwedo .content .description .description-item .description-content .description-content-title {
	font-size: 1.4rem;
	font-weight: 600;
	color: var(--main-color);
}

.whatwedo .content .description .description-item .description-content .description-content-texts {
	font-size: 1rem;
	font-weight: 500;
	text-align: justify;
}

.whatwedo .content .description .description-item .description-content .description-content-texts .listTitle {
	margin: 10px 0px;
}

.whatwedo .content .description .description-item .description-content .description-content-texts ul {
	list-style-type: disc;
	margin-block-start: 10px;
	margin-block-end: 10px;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
	unicode-bidi: isolate;
}

.whatwedo .content .description .description-item .description-content .description-content-button {
	/* margin-top: auto; */
	margin-top: 10px;
}

.whatwedo .content .description .description-item .description-content .description-content-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.whatwedo .content .description .description-item .description-content .description-content-button button:hover {
	background-color: #4e54c8;
}

.whatwedo .content.ourservices .description .description-main .description-main-title {
	font-size: 2rem;
	font-weight: 600;
	margin-bottom: 10px;
	/* line-height: 1; */
}

.whatwedo .content.ourservices .description .description-main .description-main-content {
	font-weight: 500;
}

.getinvolved .whatwedo-image {
	width: 100%;
	position: relative;
}

.getinvolved .whatwedo-image .whatwedo-image-texts {
	width: fit-content;
	height: fit-content;
	max-width: 500px;
	position: absolute;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	top: 0px;
	bottom: 0px;
	right: 0px;
	/* left: 0px; */
	padding: 20px;
	border-radius: 10px;
	margin: auto 50px;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}

.getinvolved .whatwedo-image .whatwedo-image-texts .whatwedo-image-title {
	font-size: 2rem;
	font-weight: 600;
}

.getinvolved .whatwedo-image .whatwedo-image-texts .whatwedo-image-description {
	font-size: 1rem;
}

.getinvolved .whatwedo-image img {
	width: 100%;
	height: 500px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.getinvolved .whatwedo-image .whatwedo-image-button {
	width: fit-content;
	margin-left: auto;
}

.getinvolved .whatwedo-image .whatwedo-image-button button {
	background-color: var(--main-color);
	font-size: 1rem;
	color: white;
	border: none;
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.25s;
}

.getinvolved .whatwedo-image .whatwedo-image-button button:hover {
	background-color: #4e54c8;
}

.getinvolved .description-main {
	max-width: 1000px;
	margin: 70px auto 0px auto;
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: row;
	flex-wrap: wrap;
	column-gap: 20px;
	row-gap: 20px;
	/* background-color: red; */
	/* margin-left: auto; */
}

.getinvolved .description-main .right-item {
	width: 200px;
	/* height: fit-content; */
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(4px);
}

.getinvolved .description-main .right-item img {
	display: block;
	width: 100%;
	height: 200px;
	border-radius: 10px;
	object-fit: cover;
	object-position: center;
}

.getinvolved .description-main .right-item .texts {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
}

.getinvolved .description-main .right-item .title {
	text-align: center;
	font-size: 1.1rem;
	/* background-color: lightblue; */
	font-weight: 600;
}

.getinvolved .description-main .right-item .description {
	font-size: 0.9rem;
	font-weight: 500;
	/* background-color: lightcoral; */
}

.getinvolved .description-main .right-item a {
	width: 100%;
	background-color: var(--main-color);
	font-size: 1rem;
	text-align: center;
	color: white;
	padding: 10px;
	border-radius: 10px;
	margin-top: auto;
	cursor: pointer;
	transition: 0.25s;
	text-decoration: none;
}

.getinvolved .description-main .right-item a:hover {
	background-color: #4e54c8;
}